@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
body {
  font-family: SFProDisplay-Regular, sans-serif;
  background: #e5e5e5;
}
.header {
  margin-bottom: 30px;
  background: #fa8c16;
  padding: 16px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  padding-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-groop {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.search-input {
  height: 100%;
  width: 80%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  background: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.menu-toggle {
  display: none;
}
.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.posts {
  width: 67%;
}
.post {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
.post-body {
  padding: 35px 35px;
  padding-bottom: 0;
}
.post-title {
  font-family: SFProDisplay-Semibold, sans-serif;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.post-text {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
}
.tags {
  margin-bottom: 22px;
}
.tag {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
}
.post-footer {
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  padding: 13px 35px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-button .icon {
  fill: #8c8c8c;
}
.icon-like,
.icon-comment {
  margin-right: 6px;
}
.post-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
}
.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}
.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  padding-right: 4px;
}
.author-username {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
.post-time {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 20px;
}
.sidebar {
  width: 31%;
}
.user {
  background: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
}
.user-name {
  font-family: SFProDisplay-Semibold, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.icon-exit {
  width: 20px;
  height: 20px;
  fill: #000;
}
.sidebar-nav {
  background: #ffffff;
}
.sidebar-menu {
  margin: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
  list-style-type: none;
  padding: 0;
}
.sidebar-menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 48px;
  display: inline-block;
  width: 100%;
}
.sidebar-menu-link:hover {
  background-color: #fffbe6;
  color: #faad14;
}
.sidebar-menu-link:active {
  background: #fffbe6;
  border-right: 3px solid #faad14;
  color: #faad14;
}
.button-group {
  display: flex;
}
.button {
  display: inline;
  margin: 0;
  background: #faad14;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  border: none;
}
.add-post .button {
  margin-right: 20px;
}
#button-new-post {
  min-width: 370px;
  padding: 15px 25px 16px 36px;
}

.button-outline {
  background: #ffffff;
  border: 1px solid #faad14;
  color: #faad14;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.button-outline .icon {
  width: 14px;
  height: 11px;
  fill: #ffc53d;
}
.icon-fire {
  fill: #fff;
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
.card {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
}
.card-header {
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  padding: 23px 25px;
}
.card-title {
  margin: 0;
  font-family: SFProDisplay-Semibold, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.card-body {
  padding: 22px 40px 20px 25px;
}
.card-body-title {
  margin: 0 0 10px;
  text-decoration: none;
  color: #d48806;
  font-family: SFProDisplay-Semibold, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.card-text {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  margin: 10px 0;
}
.promo {
  display: block;
  background: #ffffff url("../images/reclam.png") no-repeat center / cover;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}
.promo::before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  background: #c4c4c4;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
.add-post {
  display: flex;
  flex-direction: column;
}

.add-title,
.add-text {
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
}
.add-text {
  min-height: 362px;
}
.add-button {
  width: 100%;
  max-width: 370px;
  margin-right: 36px;
}
.add-post .button-outline {
}
@media (max-width: 990px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    margin-left: 20px;
  }
  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
  }
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .sidebar {
    z-index: 101;
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow-y: auto;
  }
  .sidebar.visible {
    transform: translateX(0);
  }
  .posts {
    width: 100%;
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    margin: auto;
  }
  .post-footer {
    flex-direction: column;
  }
  .post-author {
    margin-top: 15px;
    margin-right: 10px;
  }
  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }
  .author-about {
    order: 2;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .post-footer {
    flex-direction: column;
  }
  .post-author {
    margin-top: 15px;
    margin-right: 10px;
  }
  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }
  .author-about {
    order: 2;
    text-align: left;
  }
}
